* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 4000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

input, textarea {
  border: 1px solid transparent;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  padding: 2px;
  text-align: left;
  resize: none;

  &:hover {
    background-color: #eee;
  }

  &:focus {
    border: 1px solid forestgreen;
  }
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid #ccc;
  padding: 0;
  min-width: 50px;
height: inherit;
}

tr:first-child td, td:first-child {
  font-weight: bold;
  text-align: center;
}

.expandRow {
  display: block;
  width: 10px;
  height: 10px;
  border-left: 5px solid green;
  border-bottom: 5px solid green;
  border-right: 5px solid #d8e6ce;
  border-top: 5px solid #d8e6ce;
  cursor: pointer;
  position: absolute;
  bottom: 4px;
}

.hidden {
  display: none;
}

.menu {
  max-width: 1000px;
  height: 25px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

tr {
  height: 30px;
}

.resizable-col, .resizable-row {
  width: 100%;
  height: 100%;
  padding: 1px 3px;
  line-height: 30px;
  text-align: center;
  position: relative;
}

[class^="resizable"] {
  min-height: 30px;
  i {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    &::before {
      content: '||';
      position: absolute;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.resizable-col i {
  top: 0;
  right: 0px;
  width: 10px;
  height: 100%;
  &::before {
    bottom: 0;
    left: 0;
  }

}

.resizable-row i {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 10px;
  &::before {
    transform: rotate(-90deg);
    bottom: -10px;
    right: 8px;
  }
}

.colored {
  background-color: #d8e6ce;
}


tr:first-child td, td:first-child {
  background-color: #d8e6ce;
  font-weight: bold;
  text-align: center;
}



